
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#flash-message {
    bottom: 20px;
    position: absolute;
    right: 20px;
    z-index: 10;
    animation: flash-message 10s forwards;
}

@keyframes flash-message {
    0%   {opacity: 1;}
    100% {opacity: 0; display:none;}
}

#notifications.has-notifications {
    color: #bf5329
}

.food {
    object-fit: cover;
    height:300px;

}

#food .card-body{
    height: 120px;

}
//@media screen and (max-width: 500px) {
//    #food{
//        display: none !important;
//    }
//}
#foodCard{
    margin-top: 20px;
    width: 100%;
    transition: transform 0.2s ease-in-out;
}
#foodCard:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

#foodPic{
    margin-right: 20px;
    object-fit: cover;
    height:290px;
    width: 100%;
    //width: 290px;
    float: left;
    margin-top: 5px;
}

.body{
    text-align: justify;
}

#main-container{
    margin-top: 70px;
}

